<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="MySqlConnection"
			 connectionString="server=localhost;user id=root;password=Leandro18RR;database=biblioteca_db;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>